[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-dotenv = "*"
djangorestframework = "*"
drf-yasg = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
